.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  background-color: #1A759F;
}

.nav-logo {
  width: 60px;
}

.nav-items {
  list-style: none;
  display: flex;
  font-family: 'Shadows Into Light', cursive;
  color: whitesmoke;
  padding-right: 10px;
}

.nav-items > li {
  padding: 10px;
    font-family: 'Shadows Into Light', cursive;

}

.an {
  font-family: 'Shadows Into Light', cursive;
  color: whitesmoke;
}

.title {
  margin-left: 20px;
  padding-top: 30px;
  font-size: 40px;
  letter-spacing: 0.1em;
  font-family: 'Shadows Into Light', cursive;
  color: whitesmoke;

}
.iconumbrella {
 color: whitesmoke;
 padding-left: 10px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;

}

.women {
  display: grid;
  grid-column-start: 2;
}

.text {
  font-family: 'Shadows Into Light', cursive;
  line-height: 3;
  color: white;
}

.text  >li::marker {
  font-size: 1.4rem;
    color: #34A0A4;

}

body {
 background-color: #116389;
 margin: 0;
 background-image: url(http://www.w3.org/2000/svg);

}

.bi {
  color: #1A759F;
  position: absolute;
  right: 0;
  top: 190;
}

footer {
  color: whitesmoke;
}
